.main{
    color: black;
}

.addTeacherArea{
    padding: 5px;
    justify-content: center;
    text-align: center;
    border-right: 1px solid black;
}

#addTeacherAreaTitle{
    font-size: 20px;
}

.addTeacherArea .inputArea{
    margin-top: 21px;
}

.addTeacherArea .inputArea input{
    margin-bottom: 10px !important;
    font-size: 17px;
    padding: 10px;
}