@{
    ViewData["Title"] = "Dashboard";
    ViewData["Style"] = "dashboard.css";
    Layout = "_DashboardLayout";
}

    <section class="main">
        <div class="container">

            <div class="row">
                <div class="box">
                    <h3>Hoş geldiniz, @Context.Session.GetString("KullaniciAdi")!</h3>
                </div>
            </div>

            <div class="row">
                <div class="box">
                    <h3>Özellikler</h3>
                </div>
            </div>
            <div class="row">
                <div class="box one-half column">
                    <h5>Öğrenci İşlemleri</h5>
                </div>
                <div class="box one-half column">
                    <h5>Öğretmen İşlemleri</h5>
                </div>


            </div>
            <div class="row">
                <div class="box one-half column">
                    <h5> Sınav İşlemleri </h5>
                </div>
                <div class="box one-half column">
                    <h5>Finansal İşlemler</h5>
                </div>
            </div>


        </div>
    </section>
