@{
    ViewData["Title"] = "Dashboard";
    ViewData["Style"] = "dashboard.css";
    Layout = "_DashboardLayout";
}

    <section class="main">
        <div class="container">
            <div class="row">
                <div class="box one-half column">
                    <h5>12</h5>
                    <span>kayıtlı öğrenci.</span>
                </div>
                <div class="box one-half column">
                    <h5>21</h5>
                    <span>kayıtlı öğretmen.</span>
                </div>


            </div>
            <div class="row">
                <div class="box one-half column">
                    <h5>3000 ₺</h5>
                    <span>Toplam Gelir</span>
                </div>
                <div class="box one-half column">
                    <h5>5000 ₺</h5>
                    <span>Toplam Gider</span>
                </div>
            </div>
            <div class="row">
                <div class="box">
                    <h3>Hoş geldiniz, admin</h3>
                </div>
            </div>
        </div>
    </section>
