@model List<Finansal>

@{
    ViewData["Title"] = "Finansal İşlemler";
    ViewData["Style"] = "financial.css";
    Layout = "_DashboardLayout";
}


<div class="container">
    <div class="row">
        <div class="one-half column">
            <div class="financialArea first">
                <span id="financialAreaTitle">Gelir Gir</span>
                <form asp-action="AddFinansalIslem" method="post" onsubmit="return validateForm('gelir')">
                    <div class="inputArea">
                        <input id="GelirMiktar" name="Miktar" placeholder="Miktarı girin">
                        <input id="GelirAciklama" name="Aciklama" placeholder="Açıklama girin">
                    </div>
                    <input type="hidden" name="Tur" value="Gelir">
                    <input type="submit" class="button" value="Gelir Ekle">
                </form>
            </div>
        </div>
        <div class="one-half column">
            <div class="financialArea">
                <span id="financialAreaTitle">Gider Gir</span>
                <form asp-action="AddFinansalIslem" method="post" onsubmit="return validateForm('gider')">
                    <div class="inputArea">
                        <input id="GiderMiktar" name="Miktar" placeholder="Miktarı girin">
                        <input id="GiderAciklama" name="Aciklama" placeholder="Açıklama girin">
                    </div>
                    <input type="hidden" name="Tur" value="Gider">
                    <input type="submit" class="button" value="Gider Ekle">
                </form>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <table id="financialTable" style="margin: auto; width: 100%;">
            <thead>
                <tr>
                    <th>Tür</th>
                    <th>Miktar</th>
                    <th>Açıklama</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var finansal in Model)
                {
                    <tr>
                        <td>@finansal.Tur</td>
                        <td>@finansal.Miktar TL</td>
                        <td>@finansal.Aciklama</td>
                        <td>
                            <form asp-action="DeleteFinansalIslem" method="post">
                                <input type="hidden" name="Id" value="@finansal.Id">
                                <button type="submit">Sil</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>


    let table = new DataTable('#financialTable');

    function validateForm(tur) {
        var miktarInputId = tur === 'gelir' ? 'GelirMiktar' : 'GiderMiktar';
        var miktar = document.getElementById(miktarInputId).value;

        if (isNaN(miktar)) {
            Swal.fire({
                icon: 'error',
                title: 'Hata!',
                text: 'Miktar bir sayı olmalıdır.',
            });

            return false;
        }

        return true;
    }</script>
